<a href="https://colab.research.google.com/github/rtegao/CNN-Specialization/blob/master/Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [0]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout
from sklearn.preprocessing import MinMaxScaler

# Importing Data Set

In [0]:
dataset = pd.read_csv('/content/drive/My Drive/Specialization/Projects/Recurrent Neural Networks/M5 - Data/sales_train_validation.csv')

In [3]:
dataset.shape

(30490, 1919)

In [4]:
dataset.head()

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...      1      1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...      7      2
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...      2      4

[5 rows x 1919 columns]

In [5]:
dataset.loc[:,'d_1':].shape

(30490, 1913)

# In this Notebook I'll try to crate 3 LSTM models. The first model for one hobbie product from California, the second for one household product from Texas and the third for one food product from Winsconsin.

In [6]:
dataset.groupby(['state_id','cat_id']).first()

                                                 id  ... d_1913
state_id cat_id                                      ...
CA       FOODS          FOODS_1_001_CA_1_validation  ...      0
         HOBBIES      HOBBIES_1_001_CA_1_validation  ...      1
         HOUSEHOLD  HOUSEHOLD_1_001_CA_1_validation  ...      1
TX       FOODS          FOODS_1_001_TX_1_validation  ...      0
         HOBBIES      HOBBIES_1_001_TX_1_validation  ...      2
         HOUSEHOLD  HOUSEHOLD_1_001_TX_1_validation  ...      0
WI       FOODS          FOODS_1_001_WI_1_validation  ...      1
         HOBBIES      HOBBIES_1_001_WI_1_validation  ...      1
         HOUSEHOLD  HOUSEHOLD_1_001_WI_1_validation  ...      0

[9 rows x 1917 columns]

In [0]:
group = dataset.groupby(['state_id','cat_id']).first()

df_hobbie =  group.loc[('CA','HOBBIES'),'d_1':]
df_houseold =  group.loc[('TX','HOUSEHOLD'),'d_1':]
df_food =  group.loc[('WI','FOODS'),'d_1':]

del group

# Spliting Data

In [8]:
train_limit = int(round((df_hobbie.shape[0])*0.7,0))
val_limit = int(round((df_hobbie.shape[0])*0.85,0))

df_hobbie_train = df_hobbie[:train_limit]
df_hobbie_val = df_hobbie[train_limit:val_limit]
df_hobbie_test = df_hobbie[val_limit:]

df_houseold_train = df_houseold[:train_limit]
df_houseold_val = df_houseold[train_limit:val_limit]
df_houseold_test = df_houseold[val_limit:]

df_food_train = df_food[:train_limit]
df_food_val = df_food[train_limit:val_limit]
df_food_test = df_food[val_limit:]



print(df_hobbie_train.shape)
print(df_hobbie_val.shape)
print(df_hobbie_test.shape)

print('\n')
print(df_houseold_train.shape)
print(df_houseold_val.shape)
print(df_houseold_test.shape)

print('\n')
print(df_food_train.shape)
print(df_food_val.shape)
print(df_food_test.shape)

(1339,)
(287,)
(287,)


(1339,)
(287,)
(287,)


(1339,)
(287,)
(287,)

# Normalizing Data

In [13]:
df_hobbie_train = df_hobbie_train.values.reshape(-1,1)
df_hobbie_val = df_hobbie_val.values.reshape(-1,1)
df_hobbie_test = df_hobbie_test.values.reshape(-1,1)

df_houseold_train = df_houseold_train.values.reshape(-1,1)
df_houseold_val = df_houseold_val.values.reshape(-1,1)
df_houseold_test = df_houseold_test.values.reshape(-1,1)

df_food_train = df_food_train.values.reshape(-1,1)
df_food_val = df_food_val.values.reshape(-1,1)
df_food_test = df_food_test.values.reshape(-1,1)

print(df_hobbie_train.shape)
print(df_hobbie_val.shape)
print(df_hobbie_test.shape)

print('\n')
print(df_houseold_train.shape)
print(df_houseold_val.shape)
print(df_houseold_test.shape)

print('\n')
print(df_food_train.shape)
print(df_food_val.shape)
print(df_food_test.shape)

(1339, 1)
(287, 1)
(287, 1)


(1339, 1)
(287, 1)
(287, 1)


(1339, 1)
(287, 1)
(287, 1)

In [0]:
scaler = MinMaxScaler(feature_range=(0,1))

df_hobbie_train = scaler.fit_transform(df_hobbie_train)
df_hobbie_test = scaler.transform(df_hobbie_val)
df_hobbie_val = scaler.transform(df_hobbie_test)

df_houseold_train = scaler.fit_transform(df_houseold_train)
df_houseold_test = scaler.transform(df_houseold_val)
df_houseold_val = scaler.transform(df_houseold_test)

df_food_train = scaler.fit_transform(df_food_train)
df_food_test = scaler.transform(df_food_val)
df_food_val = scaler.transform(df_food_test)

# Regressor

- # The competition determines that the model predict 28 days in the future, so we need to scale the regressor and the outputs for this prerequisite.

- # The step time for each LTMS can be different, so lets start with the Hobbies data

In [0]:
time_steps = 60
future_steps = 28
n_features = 1

################################################################################
# Deffining number of samples for the train data
n_samples = df_hobbie_train.shape[0]
x_train = []
y_train = []

# train data loop
for i in range(time_steps,n_samples - time_steps):
  x_train.append(df_hobbie_train[i - time_steps : i, 0])
  y_train.append(df_hobbie_train[i : i+future_steps,0])

x_train,y_train = np.array(x_train),np.array(y_train)
x_train = np.reshape(x_train,(x_train.shape[0],x_train.shape[1],n_features))

################################################################################
df_hobbie_val = np.concatenate((df_hobbie_train[-time_steps:],df_hobbie_val))
n_samples = df_hobbie_val.shape[0]
x_val = []
y_val = []

for i in range(time_steps,n_samples - time_steps):
  x_val.append(df_hobbie_val[i - time_steps : i, 0])
  y_val.append(df_hobbie_val[i : i+future_steps,0])

x_val,y_val = np.array(x_val),np.array(y_val)
x_val = np.reshape(x_val,(x_val.shape[0],x_val.shape[1],n_features))

################################################################################
df_hobbie_test = np.concatenate((df_hobbie_val[-time_steps:],df_hobbie_test))
n_samples = df_hobbie_test.shape[0]
x_test = []
y_test = []

for i in range(time_steps,n_samples - time_steps):
  x_test.append(df_hobbie_test[i - time_steps : i, 0])
  y_test.append(df_hobbie_test[i : i+future_steps,0])

x_test,y_test = np.array(x_test),np.array(y_test)
x_test = np.reshape(x_test,(x_test.shape[0],x_test.shape[1],n_features))